<!DOCTYPE html>
<html lang="en">
<head>
  <title>Password Changed Confirmation</title>
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/assets/css/styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet">
</head>
<body>
  <div class="email-container">
    <table class="main-table" role="presentation">
      <tbody>
      <tr>
        <td class="header-section">
          <h1 class="title">{{ project_name }} - Password Changed Confirmation</h1>
        </td>
      </tr>
      <tr>
        <td class="content-section">
          <p class="main-content">
            Hello, <span class="highlight">{{ username }}</span>.
          </p>
          <p class="main-content">
            This is to confirm that your password has been successfully changed. If you didn't make this change or if you think your account has been compromised, please contact our support team immediately.
          </p>
        </td>
      </tr>
      <tr>
        <td class="button-section">
          <a class="button-link" href="{{ http://localhost }}" target="_blank">Contact Support</a>
        </td>
      </tr>
      <tr>
        <td class="footer-section">
          <p class="footer-content">
            Protecting your account is our priority. We recommend regularly updating your password for your security.
          </p>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</body>
</html>