<!DOCTYPE html>
<html lang="en">
<head>
  <title>Password Recovery</title>
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/assets/css/styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet">
</head>
<body>
  <div class="email-container">
    <table class="main-table" role="presentation">
      <tbody>
      <tr>
        <td class="header-section">
          <h1 class="title">{{ project_name }} - Password Recovery</h1>
        </td>
      </tr>
      <tr>
        <td class="content-section">
          <p class="main-content">
            We received a request to recover the password for user <span class="highlight">{{ username }}</span> with email <span class="highlight">{{ email }}</span>.
          </p>
          <p class="main-content">
            Reset your password by clicking the button below:
          </p>
        </td>
      </tr>
      <tr>
        <td class="button-section">
          <a class="button-link" href="{{ link }}" target="_blank">Reset
            Password</a>
        </td>
      </tr>
      <tr>
        <td class="content-section">
          <p class="main-content">Or open the following link:</p>
          <p class="link-content"><a href="{{ link }}">{{ link }}</a></p>
        </td>
      </tr>
      <tr>
        <td class="footer-section">
          <p class="footer-content">
            The reset password link / button will expire in {{ valid_hours }} hours.
            If you didn't request a password recovery, you can disregard this email.
          </p>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</body>
</html>